{
  "API":"link",
  "PROTOCOL": "",
  "DOMAIN": "",
  "DEBUG": true,
  "SECRET_KEY": "<set_secret_key_here>",
  "DATABASE": {
    "HOST": "",
    "PORT": "",
    "NAME": "",
    "USER": "",
    "PASSWORD": ""
  },
      "REDIS": {
        "HOST": "",
        "PORT": "",
        "CACHE_DB": ""
    },
      "SAVE": {
        "HOST": "",
        "PORT": "",
        "CACHE_DB": "",
        "TTL": 3600
    },
    "CELERY": {
        "BROKER_URL": ""
    }
}